<%- include("header")  -%>

<h1 class="starter">COVID-19 GLOBAL STATISTICS</h1>

<section class="row" style ="margin-left: 220px;">
</style>>
  <div class="cards text-white bg-success mb-3 col-lg-4" style="max-width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">TREATED </h3>
    <p class="card-text">12345</p>
  </div>
</div>
<div class="cards text-white bg-danger mb-3 col-lg-4" style="max-width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">DEATHS</h3>
    <p class="card-text">12345</p>
  </div>
</div>
<div class="cards text-white bg-warning mb-3 col-lg-4" style="max-width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">INFECTED</h3>
    <p class="card-text">12345</p>
  </div>
</div>

</section>

<section>

</section>

<%- include("footer")  -%>
